[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:thuliteio/doks.git
[submodule "themes/doks"]
	path = themes/doks
	url = git@github.com:thuliteio/doks.git
[submodule "themes/gohugo-theme-ananke"]
	path = themes/gohugo-theme-ananke
	url = git@github.com:theNewDynamic/gohugo-theme-ananke.git
